html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px; }

* {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit; }

.hidden {
  display: none; }

#header {
  background: url(img/topimg.png) no-repeat scroll center top #FFF;
  width: 100%; }
  #header .logo {
    width: 100%;
    max-width: 960px;
    font-family: "Josefin Sans",sans-serif;
    margin-left: auto;
    margin-right: auto; }
    #header .logo .acronym {
      position: relative;
      color: #a81800;
      font-size: 72px;
      display: inline-block;
      margin-top: 30px; }
    #header .logo .title {
      position: relative;
      font-size: 24px;
      color: black;
      display: inline-block;
      bottom: 19px; }
    #header .logo .menu {
      float: right;
      display: inline-block;
      margin-top: 50px; }

.navbutton, .navbutton:visited {
  background: none;
  border: none;
  color: #a81800;
  font-size: 20px;
  font-family: "Josefin Sans",sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5; }
  .navbutton:hover, .navbutton:visited:hover {
    color: #ffffff;
    background-color: #a71700;
    cursor: pointer; }

.smallbutton, .smallbutton:visited {
  background: none;
  border: none;
  color: #eee;
  font-size: 18px;
  font-family: "Josefin Sans",sans-serif;
  font-weight: 400; }
  .smallbutton:hover, .smallbutton:visited:hover {
    cursor: pointer; }

#content {
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto; }
  body.login #content {
    width: 50%; }
  body.browse #content {
    width: 100%;
    max-width: 960px; }
  #content .textfield {
    background-color: #ffffff;
    line-height: 1.5;
    padding: 1px;
    border: 2px solid #a71700;
    border-radius: 3px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  #content .map .val {
    margin-bottom: 24px; }
  #content .files {
    width: 70%;
    max-height: 80%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto; }
    #content .files .file .name, #content .files .name:visited {
      color: #404040; }
    #content .files .file .button-delete, #content .files .file .button-delete:visited {
      color: #a81800; }

#msgbox {
  transition: opacity 0.3s, transform 0.5s;
  opacity: 0;
  transform: translateY(-200%);
  color: #eee;
  background-color: #1b1b1b;
  width: 30%;
  height: 30%;
  padding: 12px;
  position: fixed;
  z-index: 20;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto; }
  #msgbox .buttons {
    position: absolute;
    bottom: 12px;
    right: 12px; }
  #msgbox.active {
    transition: opacity 0.5s 0.1s, transform 0.5s;
    opacity: 1;
    transform: translateY(0px); }

@media screen and (max-width: 600px) {
  #header .logo .title {
    display: none; } }
@media screen and (max-width: 350px) {
  #header .logo .acronym {
    display: none; } }

/*# sourceMappingURL=style.css.map */
